
/* Maus-Cursor */
.cursor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: transform 0.1s ease;
    pointer-events: none;
    background-color: #7E7F83;
    position: fixed;
    z-index: 100;
}
a:hover + .cursor {
    width: 30px;
    height: 30px;
    border-radius: 25%;
}
@media (max-width: 800px) {
    .cursor {
        display: none;
    }
}
/* First-Section */
.first-section {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.first-section svg {
    position: relative;
    top: 40%;
}
/* Projekte */
.projekte {
    background-color: #14110F;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projekteGallery {
    background-color: #34312D;
    height: 40vh;
    width: 70vh;

    border-radius: 4px;
}
.headerProjekteGallery h2{
    background-color: #F3F3F4;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    color: #34312D;
}
.projektCard {
    background-color: #34312D;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 4px;
    position: relative;
    padding-left: 4px;
}
.projektCard a {
    background-color: #34312D;
}
.projektCard p {
    background-color: #34312D;
    text-align: center;
    color: #F3F3F4;
}
/* zweite Section */
.second-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.k {
    z-index: 0;
    color: white;
    position: absolute;
    left: 10%;
    display: flex;
    flex-direction: column;
    font-size: 200px;
    align-items: center;
} 
.k p {
    font-size: large;
}
.second-section > .description {
    width: 30%;
    position: relative;
    left: 10%;
    top: 5%;
}
@media ( max-width: 800px) {
    .k  {
        display: none;
    }
}
/* third-section (i1) */
.third-section {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.i1 {
    z-index: 0;
    color: white;
    position: absolute;
    right: 20%;
    display: flex;
    flex-direction: column;
    font-size: 200px;
    align-items: center;
}
.i1  p {
    font-size: large;
}
.third-section > .description {
    width: 30%;
    position: relative;
    right: 10%;
}