---
import { animate } from 'motion';
import Layout from '../layouts/Layout.astro';
import Deutsch from '../components/Deutsch.astro';
import Englisch from '../components/Englisch.astro';
---

<Layout title="Home | qlick">
	<main>
		<section id="hero" class="hero">
			<h2>qlick</h2>
			<p>Software development Firma.</p>
			<Englisch>
				<h2>hekko</h2>
			</Englisch>
		</section>
	</main>
</Layout>

