---
import { animate } from 'motion';
import Layout from '../layouts/Layout.astro';
import Deutsch from '../components/Deutsch.astro';
import Englisch from '../components/Englisch.astro';

---

<Layout title="Home | qlick">
	<main>
		<section id="hero" class="h-screen flex items-center justify-center">
			<Deutsch styleString='display: flex; align-items: center; justify-content:  center; flex-direction: column;'>
				<h2 class="text-blue-500 dark:text-white text-5xl hover:text-fuchsia-700 transition cursor-pointer h2-animation opacity-0">
					<a href="https://qlick.dev/" target="_blank" class="no-underline ">wir machen Software ✌️</a>
				</h2>
				
			</Deutsch>
			<Englisch styleString='display: flex; align-items: center; justify-content:  center; flex-direction: column;'>
				<h2 class="text-blue-500 dark:text-white text-5xl hover:text-fuchsia-700 transition cursor-pointer h2-animation opacity-0">
					<a href="https://qlick.dev/" target="_blank" class="no-underline ">we made software ✌️</a>
				</h2>
			</Englisch>
		</section>
	</main>
	<script >
		import {animate} from "motion"
		animate(".h2-animation", { opacity: 1 }, { duration: 1 })
	</script>
</Layout>

