---
interface Props {
  /**Hier wird CSS reingeschrieben, in einen String */
  styleString?: string
}
const styleString = Astro.props.styleString;
---

<script>
  const mainViewDeutsch = document.getElementById("mainDeutsch");
  if (navigator.language == "de-DE") {
    mainViewDeutsch!.style.display = "block";
  } else {
    mainViewDeutsch!.style.display = "none";
  }
</script>

<main id="mainDeutsch" >
  <div  style={styleString || ""}>
    <slot />
  </div>
</main>
