---
const className = Astro.props.className;
---

<script>
  const mainViewDeutsch = document.getElementById("mainDeutsch");
  if (navigator.language == "de-DE") {
    mainViewDeutsch!.style.display = "block";
  } else {
    mainViewDeutsch!.style.display = "none";
  }
</script>

<main id="mainDeutsch" class="flex">
  <slot />
</main>
