---
interface Props {
  /**Hier wird CSS reingeschrieben, in einen String */
  styleString?: string
}
const styleString = Astro.props.styleString;
---



<main id="mainEnglisch" >
  <div  style={styleString || ""}>
    <slot />
  </div>
</main>
<script>
  const mainViewEnglisch = document.getElementById("mainEnglisch");
  if (navigator.language != "de-DE") {
    mainViewEnglisch!.style.display = "block";
  } else {
    mainViewEnglisch!.style.display = "none";
  }
</script>