---
const className = Astro.props.className
---

<script>
  const mainViewEnglisch = document.getElementById("mainEnglisch");
  if (navigator.language != "de-DE") {
    mainViewEnglisch!.style.display = "block";
  } else {
    mainViewEnglisch!.style.display = "none";
  }
</script>

<main id="mainEnglisch" class="flex">
  <slot />
</main>