---
import Englisch from "./Englisch.astro";
import Deutsch from "./Deutsch.astro";
---
<section class="flex items-center justify-between absolute w-screen ">
    <h2>qlick</h2>
    <nav>
        <a href="/products">
            <Deutsch>
                <a href="/products">Produkte</a>
            </Deutsch>
            <Englisch>
                <a href="/products">products</a>
            </Englisch>
        </a>
    </nav>
</section>